body {
    background-image: url("../images/bg3.jpg");
    background-repeat: repeat-y;
    background-position: right top;
    background-attachment: scroll;
    background-size: 100%;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

.mySlides {
    margin-top: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:100%;
}

.slider {
    margin-top: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 1000px;
    width: 100%;
}

.topnav {
    background-color: #eeebe8;
    overflow: hidden;
}

/* Logo style */
.topnav img {
    float: left;
    padding: 1px 1px;
    height: 42 px;
    width: 42 px;
    padding-bottom: 0px;
    max-width: 50px;
    max-height: 75px;
}

/* Style links inside the navigation bar */
.topnav a.page {
    float: left;
    color: #231b12;
    text-align: center;
    padding: 16px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the colour to active link */
.topnav a.page:hover {
    background-color: #231b12;
    color: #eeebe8;
}

/* Add colour to active link */
.topnav a.active {
    background-color: #962715;
    color: #eeebe8;
}

.logo {
    float:left;
    padding: 25px 25px;
    height: 42px;
    width: 42px;
    padding-top: 4px;
    vertical-align: left;
}


/*From Below  Menu.php CSS */
.category {
	float: left;
	margin-left: 0.5em;
	width: 18em;
    height: auto;
	background: white;
	box-shadow: 0.5em 0.5em 1em #000;
	margin-bottom: 1em;
}

.category a {
	color: gray;
    text-decoration:none;
    text-align: center;
    font-size: 1em;
}

.category img {	
    margin-right: 1em;
    size: square;
    width:18em;
    height:18em;
}

.category.menu {
	padding: 1em;
	text-align: left;
	float:left;
}

.menu p {
	text-align: center;
	line-height: 3em;
	color: #962715;
	font-weight: bold;
}

.title h2{
    text-align: center;
    color: white;
    font-family: "Brush Script MT", 'Times New Roman',cursive;
    font-size: 10em;
}

.title h3{
    text-align: center;
    color: white;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 2em;
}

.sec {
    color: #000;
    padding: 1em 2em;
    height: auto; 
    display:block;
}

.menu_content {
	max-width: auto;
	height: auto;
	padding: 8em;
    padding-bottom: 1em;
	margin: 0em auto;
    margin-bottom: -10em;
}

.menu_content h1{
    text-align: center;
    color: white;
    font-family: "Brush Script MT", 'Times New Roman',cursive;
    font-size: 5em;
}

.rmv {
	clear: both;
	line-height: 0;
}

/*From Below  reservation.php CSS */
.content {
    background: #fff;
    color: #000;
    padding: 0.5em 3em;
    height: auto;
    display: block;
}

.res_content {
    padding: 5% 15%;
}

form.booking {
	max-width: 50em;
	height: auto;
	margin: 0 auto;
}


h2.f_b{
	text-align: center;
	color: #505050;
	font-size: 5em;
}

span.icon:before {
	font-family: 'Courier New', Courier, monospace;
	margin-right: 1em;
	font-size: medium;
	color: #962715;
}

p.f_m {
	text-align: center;
	color: #962715;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 1em;
}


label {
	display: block;
	margin-top: 3em;
	margin-bottom: 1em;
	color: #505050;
	font-size: medium;
}

input[type=text], input[type=email], input[type=number], input[type=date], input[type=time] {
	width: 100%;
	border: 0.1em solid #CCCCCC;
	padding: 0.6em;
	height: 3em;
	background: #efefef;
	border-radius: 1em;
}

textarea {
	width: 100%;
	background: #efefef;
	border: 0.1em solid #ccc;
	padding: 0.6em;
	border-radius: 1em;
	height: 10em;
}

/*From Below  contact.php CSS */
.contact h2{
    text-align: center;
    color: white;
    font-family: "Brush Script MT", 'Times New Roman',cursive;
    font-size: 3em;
}
.contact button#reservation{
    color: #962715;
    height :20em;
    border: none;
    width:20em;
    background-color: white;
    margin-left: 20em;
    margin-right:0.5em;
    font-size: 1em;
    font-family: "Lucida Calligraphy",cursive;
}

.contact button p{
    color: #962715;
    font-size: 0.7em;
    font-family: cursive;
}

.contact button#query{
    color: #962715;
    height :20em;
    border: none;
    width:20em;
    background-color: white;
    margin-right: -20em;
    font-size: 1em;
    font-family: "Lucida Calligraphy",cursive;
}


/*404 page.html*/
body{
    font-family: 'Lato', sans-serif;
    color: #888;
    margin: 0;
}

#page{
    display: table;
    width: 100%;
    height: 100vh;
    text-align: center;
}

.error{
	  display: table-cell;
	  vertical-align: middle;
}

.error h1{
	  font-size: 50px;
	  display: inline-block;
	  padding-right: 12px;
	  animation: type .5s alternate infinite;
}

/*detail*/
.food{
    margin-top:-5em;
	margin-left: 10em;
    margin-right: -20em;
	width:60em;
    height: 60em;
	background: white;
    opacity: 0.9;
	box-shadow: 0.5em 0.5em 1em #000;
	margin-bottom: 5em;
}

.food h2{
    text-align: center;
    color: black;
    font-family: "Brush Script MT", 'Times New Roman',cursive;
    font-size: 10em;
}
/*from w3 schools*/
.c_img{
    margin-left: auto;
    margin-right: auto;
    width: 20em;
    display: block;
}

.c_img img {
    width: 18em;
	height: 18em;
}

.c_det {
	width: 50em;
	float: center;
	text-align: center;
	line-height: 2em;
}
/*I got the info about the animated transitions from a github public project - I can't find the link :(*/
h3.c_header {
	text-align: center;
	text-transform:uppercase;
	letter-spacing: 0.5em;
	transition: letter-spacing 200ms ease-in;
	-moz-transition: letter-spacing 200ms ease-in;
	-webkit-transition: letter-spacing 200ms ease-in;
}

h3.c_header:hover {
	letter-spacing: 1em;
}

p.c_det {
	text-align: center;
}

.c_det label {
	padding: 0em 5em 2em 5em;
	margin-top: 0.2em;
	font-size: 5em;
	border-radius: 1em;
	cursor: pointer;
}

.c_det label.subtract {
	background: #962715;
	color: #fff;
}

span.c_cat {
	font-weight: bold;
	letter-spacing: 2px;
	margin-right: 20px;
}

span.c_price {
	font-weight: bold;
	letter-spacing: 2px;
	margin-right: 60px;
}

.c_det input[type=text] {
	padding: 10px 20px;
	display: inline;
	width: 18%;
	margin: 0% 1%;
	text-align: center;
}

input[type=submit].submit.add_fav {
	background: #962715;
	border: 0.1em double #962715;
	letter-spacing: 0.1em;
	font-size: 2em;
    font-family: "Brush Script MT", 'Times New Roman',cursive;
    color: white;
	cursor: pointer;
	transition: letter-spacing 200ms ease-in;
	-moz-transition: letter-spacing 200ms ease-in;
	-webkit-transition: letter-spacing 200ms ease-in;
}

input[type=submit].submit.add_fav:hover {
	letter-spacing: 3px;
}