body {
    background-color: #962715;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.mySlides {
    margin-top: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:100%;
}

.slider {
    margin-top: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 900px;
    width: 100%;
}

.topnav {
    background-color: #eeebe8;
    overflow: hidden;
}

/* Logo style */
.topnav img {
    float: left;
    padding: 1px 1px;
    height: 42 px;
    width: 42 px;
    padding-bottom: 0px;
    max-width: 50px;
    max-height: 75px;
}

/* Style links inside the navigation bar */
.topnav a.page {
    float: left;
    color: #231b12;
    text-align: center;
    padding: 16px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the colour to active link */
.topnav a.page:hover {
    background-color: #231b12;
    color: #eeebe8;
}

/* Add colour to active link */
.topnav a.active {
    background-color: #962715;
    color: #eeebe8;
}

.logo {
    float:left;
    padding: 25px 25px;
    height: 42px;
    width: 42px;
    padding-top: 4px;
    vertical-align: left;
}

/*From Below menu.php CSS */
.menu{
    background-color: #fabda0;
    padding: 4% 0;
  }
  
  .menu h2{
    text-align: center;
    color: #f4f7ff;
    font-size: 2rem;
    margin-bottom: 2%;
  }
  
  .foodmenu {
    width: 80%;
    margin: 0 auto;
    padding: 1%;
    
  }
  
  .displaymenu{
    width: 43%;
    margin: 1%;
    padding: 2%;
    float: left;
    background-color: white;
    border-radius: 15px;
  }
  
  .displaymenu h4{
  
    text-align: center;
  
  }
  
  .img{
    width: 20%;
    float: left;
  }
  
  .displaymenu .Category{
  
    text-align: center;
    font-size: default;
  }
  
  .displaymenu .Dish{
  
    text-align: left;
    font-size: 1rem;
    margin-left: 20%;
    color: #962715;
    
  }
  
  .displaymenu .Price{
  
    text-align: right;
    font-size: 1.2rem;
    margin-right: 10%;
  }